<h4 class="text-center" >Registro</h4>

    <div class="form-group ">
      <label>Rol de usuario</label>
      <select name="Rol.IdRol" class="form-control" [(ngModel)]="Rol.IdRol">
          <option *ngFor="let TipoId of ListaRol" value="{{Rol.IdRol}}">{{Rol.Nombre}}</option>
      </select>
    </div>

      <div >
        <label>Nombre de Usuario</label>
        <input type="text" mdbInput class="form-control mb-3" name="Usuario.Nombre"[(ngModel)]="Usuario.Nombre">
      </div>

      <div class="input-group col-md-4 p-0">
          <div class="input-group-prepend mb-3">
            <span class="input-group-text">Tipo ID</span>
          </div>
          <select name="Persona.TipoId" class="form-control" [(ngModel)]="Persona.TipoId">
            <option *ngFor="let TipoId of listaTipoId" value="{{TipoId.Id}}">{{TipoId.Nombre}}</option>
          </select>
        </div>

        <input type="text" mdbInput class="form-control mb-3" placeholder="Identificacion"
        name="Persona.Identificacion" [(ngModel)]="Persona.Identificacion">
      <div class="input-group-append mb-3">

      <div>
        <label>Nombre de Usuario</label>
        <input type="text" mdbInput class="form-control mb-3" name="Persona.Nombre"[(ngModel)]="Persona.Nombre">
      </div>

        <div>
            <label>Apellido 1</label>
            <input type="text" mdbInput class="form-control mb-3" name="Persona.Apellido1"[(ngModel)]="Persona.Apellido1">
          </div>
  
          
      <div>
          <label>Apellido 2</label>
          <input type="text" mdbInput class="form-control mb-3" name="Persona.Apellido2"[(ngModel)]="Persona.Apellido2">
        </div>

        <div>
            <label>Correo Electronico</label>
            <input type="text" class="form-control" name="CorreoElectronico"> 
          </div>
    
          <div>
            <label>Empresa</label>
            <select class="form-control" name="idEmpresa" required>
              <option *ngFor="let idEmpresa of listaEmpresa" [value]="idEmpresa.Id" required>{{idEmpresa.NombreComercial}}</option>
            </select>
          </div>
  

          <div class="input-group mb-3 col-md-3" style="padding: 0%">
              <div class="input-group-prepend mb-3">
                <span class="input-group-text">Provincia</span>
              </div>
              <select class="form-control" name="Persona.Provincia" [(ngModel)]="Persona.Provincia"
                (change)="onChangeProvincia($event.target.value)">
                <option disabled>Provincia</option>
                <option *ngFor="let Provincia of listaProvincia" value="{{Provincia.Cod}}">
                  {{Provincia.Nombre}}
                </option>
              </select>
            </div>
  
  
            <!-- Canton -->
            <div class="input-group mb-3 col-md-3" style="padding: 0%">
              <div class="input-group-prepend mb-3">
                <span class="input-group-text">Canton</span>
              </div>
              <select class="form-control" name="Persona.Canton" [(ngModel)]="Persona.Canton"
                (change)="onChangeCanton($event.target.value)">
                <option disabled>Canton</option>
                <option *ngFor="let Canton of comboCantones" value="{{Canton.Canton}}">
                  {{Canton.Nombre}}
                </option>
              </select>
            </div>
  
            <!-- distrito -->
            <div class="input-group mb-3 col-md-3" style="padding: 0%">
              <div class="input-group-prepend mb-3">
                <span class="input-group-text">Distrito</span>
              </div>
              <select class="form-control" name="Persona.Distrito" [(ngModel)]="Persona.Distrito"
                (change)="onChangeDistrito($event.target.value)">
                <option disabled>Distrito</option>
                <option *ngFor="let Distrito of comboDistritos" value="{{Distrito.Distrito}}">
                  {{Distrito.Nombre}}
                </option>
              </select>
            </div>
  
            <!-- barrio -->
            <div class="input-group mb-3 col-md-3" style="padding: 0%">
              <div class="input-group-prepend mb-3">
                <span class="input-group-text">Barrio</span>
              </div>
              <select class="form-control" [(ngModel)]="Persona.Barrio" name="Persona.Barrio">
                <option disabled>Barrio</option>
                <option *ngFor="let Barrio of comboBarrios" value="{{Barrio.Barrio}}">
                  {{Barrio.Nombre}}
                </option>
              </select>
            </div>

          <div >
              <div >
                <label>Contraseña</label>
                <input type="password" class="form-control "required> 
              </div>

              <div >
                <label>Confirmar Contraseña</label>
                <input type="password" class="form-control " required> 
              </div>
          </div>
          <div>
            <button type="submit" class="btn btn-lg btn-primary">Registrarme</button>
          </div>
  