<div class="container mt-5 mb-5">
  <!--primera linea-->
  <form>

    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Id</label>
          <input type="text" class="form-control text-center" name="id" [(ngModel)]="CliActual.Id" readonly>
        </div>

        <div class="form-group col-md-6">
          <label>Nombre Tributario</label>
          <input type="text" class="form-control" name="NombreTributario" [(ngModel)]="CliActual.NombreTributario"
            readonly>
        </div>

      </div>
      <div class="form-row">

        <!-- informacion de cliente -->

        <div class="form-group col-md-2">
          <label>Tipo ID</label>
          <input type="text" class="form-control" name="TipoId" [(ngModel)]="CliActual.TipoId" readonly>
        </div>

        <div class="form-group col-md-2">
          <label>Clave</label>
          <input type="text" class="form-control" name="TipoCliente" [(ngModel)]="CliActual.TipoCliente" readonly>
        </div>

        <div class="form-group col-md-8">
          <label>Contacto</label>
          <input type="text" class="form-control" name="Contacto" [(ngModel)]="CliActual.Contacto" readonly>
        </div>

        <div class="form-group col-md-4">
          <label>Nombre</label>
          <input type="text" class="form-control" name="TbPersona.Nombre" [(ngModel)]="CliActual.TbPersona.Nombre"
            readonly>
        </div>

        <div class="form-group col-md-4">
          <label>Apellido 1°</label>
          <input type="text" class="form-control" name="TbPersona.Apellido1" [(ngModel)]="CliActual.TbPersona.Apellido1"
            readonly>
        </div>

        <div class="form-group col-md-4">
          <label>Apellido 2°</label>
          <input type="text" class="form-control" name="TbPersona.Apellido2" [(ngModel)]="CliActual.TbPersona.Apellido2"
            readonly>
        </div>

        <div class="form-group col-md-4">
          <label>Sexo</label>
          <input type="text" class="form-control" name="sexo" [(ngModel)]="sexo" readonly>
        </div>

        <div class="form-group col-md-4">
          <label>Fecha de Nacimiento</label>
          <input type="text" class="form-control" name="TbPersona.FechaNac" [(ngModel)]="CliActual.TbPersona.FechaNac"
            readonly>
        </div>

        <div class="form-group col-md-4">
          <label>E-mail</label>
          <input type="text" class="form-control" name="TbPersona.CorreoElectronico"
            [(ngModel)]="CliActual.TbPersona.CorreoElectronico" readonly>
        </div>

        <div class="form-group col-md-12">
          <label> Descripcion </label>
          <textarea class="form-control" name="CliActual.Descripcion" [(ngModel)]="CliActual.Descripcion" readonly>
          </textarea>
        </div>

      </div>
    </div>

    <!-- Nueva linea -->
    <div class="p-3">

      <div class="form-row">

        <div class="form-group col-md-3">
          <label>Cod Area Telefono</label>
          <input type="text" class="form-control" name="TbPersona.CodigoPaisTel"
            [(ngModel)]="CliActual.TbPersona.CodigoPaisTel" readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Telefono</label>
          <input type="text" class="form-control" name="TbPersona.Telefono" [(ngModel)]="CliActual.TbPersona.Telefono"
            readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Cod Area Fax</label>
          <input type="text" class="form-control" name="TbPersona.CodigoPaisFax"
            [(ngModel)]="CliActual.TbPersona.CodigoPaisFax" readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Fax</label>
          <input type="text" class="form-control" name="TbPersona.Fax" [(ngModel)]="CliActual.TbPersona.Fax" readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Provincia</label>
          <input type="text" class="form-control" name="TProvincia" [(ngModel)]="Provincia"
            readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Canton</label>
          <input type="text" class="form-control" name="Canton" [(ngModel)]="Canton"
            readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Distrito</label>
          <input type="text" class="form-control" name="Distrito" [(ngModel)]="Distrito"
            readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Barrio</label>
          <input type="text" class="form-control" name="Barrio" [(ngModel)]="Barrio"
            readonly>
        </div>

        <div class="form-group col-md-12">
          <label> Direccion </label>
          <textarea class="form-control" name="TbPersona.OtrasSenas" [(ngModel)]="CliActual.TbPersona.OtrasSenas"
            readonly>
          </textarea>
        </div>

      </div>
    </div>

    <br>
    <!-- nueva linea -->
    <div class="p-3">

      <div class="form-row">

        <div class="form-group col-md-3">
          <label>Precio a Aplicar</label>
          <input type="number" class="form-control" name="CliActual.PrecioAplicar" [(ngModel)]="CliActual.PrecioAplicar"
            readonly>
        </div>

        <div class="form-group col-md-2">
          <label>Descuento Maximo</label>
          <input type="number" class="form-control" name="CliActual.DescuentoMax" [(ngModel)]="CliActual.DescuentoMax"
            readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Credito Maximo</label>
          <input type="number" class="form-control" name="CliActual.CreditoMax" [(ngModel)]="CliActual.CreditoMax"
            readonly>
        </div>

        <div class="form-group col-md-2">
          <label>Plazo Credito Maximo</label>
          <input type="number" class="form-control" name="CliActual.PlazoCreditoMax"
            [(ngModel)]="CliActual.PlazoCreditoMax" readonly>
        </div>

        <div class="form-group col-md-2">
          <label>Id de Exonercion</label>
          <input type="number" class="form-control" name="CliActual.IdExonercion" [(ngModel)]="CliActual.IdExonercion"
            readonly>
        </div>

      </div>
    </div>
    <!-- fin de la linea -->

    <!-- nueva linea -->
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Encargado de Contabilidad</label>
          <input type="text" class="form-control text-center" name="EncargadoConta"
            [(ngModel)]="CliActual.EncargadoConta" readonly>
        </div>

        <div class="form-group col-md-6">
          <label>E-mail Contador</label>
          <input type="text" class="form-control" name="CorreoElectConta" [(ngModel)]="CliActual.CorreoElectConta"
            readonly>
        </div>
      </div>
    </div>
  </form>
</div>
