
<div class="container" >
    <div class="col-md-5 mx-auto  shadow-lg p-4 mt-5 bg-white ">
        <h4>Seguro que quiere eliminar este producto</h4>
        <label><b>ID: </b> {{producto.IdProducto}}</label> <br>
        <label><b>Nombre: </b> {{producto.Nombre}}</label>
        <button type="button"  class="btn btn-block btn-danger mb-2" [routerLink]="['/Productos']">Cancelar</button>
        <button type="button"  class="btn btn-block btn-primary mb-2" (click)="eliminar()"  >Eliminar</button>
    </div>
</div>
