<p>
    lista-empresa works!
  </p>
  <br>
  <button *ngIf="!bandera" (click)="formulario()" class="btn btn-primary">Nuevo</button>
  <button *ngIf="bandera" (click)="agregar()" class="btn btn-primary">Confirmar</button>
  <br>
  <br>
  <button *ngIf="show"  (click)="cancelar()" class="btn btn-warning">Cancelar</button>
  <br>
  <br>
  <div *ngIf="show" class="container">
          <div class="table-responsive-md col-md-12  border p-3" > 
                  <table class="table" >
                      <h1>Nueva Empresa</h1>
                      <tr>
                          <td>
                              ID
                              <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="Empresa.Id" placeholder="Enter ID" >
                              </div>
                          </td>
                          
                          <td>
                              Nombre
                              <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="Empresa.NombreComercial" placeholder="Enter Name" >
                              </div>
                          </td>
                          <td>
                              Correo
                              <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="Empresa.CorreoElectronicoEmpresa" placeholder="Enter Mail" >
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                                  <form>
                                      <div class="checkbox">
                                          <label><input type="checkbox" name = "1" [(ngModel)]="inventario">Maneja inventario</label>
                                      </div>
                                  </form>
                          </td>
                          <td>
                                  <form>
                                      <div class="checkbox">
                                          <label><input type="checkbox" name = "1" [(ngModel)]="factura">Facturacion Electrónica</label>
                                      </div>
                                   </form>
                          </td>
                          <td>
                          </td>
                      </tr>   
                  </table>
          </div>
  </div>
  <h1>Lista De Empresas</h1>
  <table class="table" class="table table-bordered">
          <tr> 
              <td>ID</td>
              <td>Nombre Comercial</td>
          </tr>
          <tr *ngFor = 'let TbEmpresa of ListEmpre'>
              <td>{{TbEmpresa.Id}}</td>
              <td>{{TbEmpresa.NombreComercial}}</td>
              <button *ngIf ="!bandera" class="btn btn-danger btn-xs" (click)="eliminar(TbEmpresa.Id) " style="margin: 10px;">Eliminar</button>
              <button *ngIf ="!bandera"  class="btn btn-primary btn-xs" (click)="modificar(TbEmpresa.Id) " style="margin: 10px;">Modificar</button>
          </tr>
        </table>
