<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pt-4 pb-4 fondo-color">
            <h3 class="text-center">Empresas</h3>
        </div>
    </div>
  </div>
  <br>
  <button *ngIf="!bandera" (click)="formulario()" class="btn btn-primary">Nuevo</button>
  <br>
  <br>
  <div *ngIf="show" class="container text-center">
          <div class="table-responsive-md col-md-12  border p-3 mb-3" > 
                  <table class="table" >
                      <h1>Nueva Empresa</h1>
                      <tr>
                          <td>
                              ID
                              <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="Empresa.Id" placeholder="Enter ID" >
                              </div>
                          </td>
                          
                          <td>
                              Nombre
                              <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="Empresa.NombreComercial" placeholder="Enter Name" >
                              </div>
                          </td>
                          <td>
                              Correo
                              <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="Empresa.CorreoElectronicoEmpresa" placeholder="Enter Mail" >
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                                  <form>
                                      <div class="checkbox">
                                          <label><input type="checkbox" name = "1" [(ngModel)]="inventario">Maneja inventario</label>
                                      </div>
                                  </form>
                          </td>
                          <td>
                                  <form>
                                      <div class="checkbox">
                                          <label><input type="checkbox" name = "1" [(ngModel)]="factura">Facturacion Electrónica</label>
                                      </div>
                                   </form>
                          </td>
                          <td>
                          </td>
                      </tr>   
                  </table>
                <button *ngIf="bandera" (click)="agregar()" class="btn btn-primary">Confirmar</button>
                <button *ngIf="show"  (click)="cancelar()" class="btn btn-warning">Cancelar</button>
          </div>
  </div>
  <h1 class="text-center">Lista De Empresas</h1>
  <div class="container text-center">
    <table class="table" class="table table-bordered">
        <tr> 
            <td>ID</td>
            <td>Nombre Comercial</td>
        </tr>
        <tr *ngFor = 'let TbEmpresa of ListEmpre'>
            <td>{{TbEmpresa.Id}}</td>
            <td>{{TbEmpresa.NombreComercial}}</td>
            <button *ngIf ="!bandera" class="btn btn-danger btn-xs" (click)="eliminar(TbEmpresa.Id) " style="margin: 10px;">Eliminar</button>
            <button *ngIf ="!bandera"  class="btn btn-primary btn-xs" (click)="modificar(TbEmpresa.Id) " style="margin: 10px;">Modificar</button>
        </tr>
      </table>
  </div>
 
