
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pt-3 pb-3 fondo-color">
            <h3 class="text-center">Detalles Tipo Medida</h3>
        </div>
    </div>
</div>
<br>
<div class="container" style="text-align: center">
    <div class="row">
            <div class="input-group mb-3 col-md-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Id:</span>
                    </div>
                    <input type="text" class="form-control" name="TipoMedida.IdTipoMedida"
                        [(ngModel)]="TipoMedida.IdTipoMedida" readonly>
                </div>
        <div class="input-group mb-3 col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text">Nombre:</span>
            </div>
            <input type="text" class="form-control" name="TipoMedida.Nombre"
                [(ngModel)]="TipoMedida.Nombre" readonly>
        </div>
        <div class="input-group mb-3 col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text">Nomenclatura:</span>
            </div>
            <input type="text" class="form-control" name="TipoMedida.Nomenclatura"
                [(ngModel)]="TipoMedida.Nomenclatura" readonly>
        </div>
    </div>
    <div class="row">
            <div class="input-group mb-3 col-md-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">Descripcion:</span>
                </div>
                <textarea type="text" class="form-control" name="TipoMedida.Descripcion" maxlength="499"
                    [(ngModel)]="TipoMedida.Descripcion" readonly></textarea>
            </div>
    <button class="btn btn-outline-success" routerLink="/IndexTipoMedida">Atras</button>
</div>