<!--Detalles-->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 pt-4 pb-4 fondo-color">
          <h2 class="text-center ml-5">Detalles Exoneración</h2>
      </div>
  </div>
</div>

<div class="ContenidoForm">
    <!-- Default form contact -->
    <form class="text-center border border-light p-5">
  
      <!-- primera card -->
      <mdb-card cascade="true" narrower="true" class="mb-5">
        <!-- titulo -->
        <div class="view view-cascade titulo gradient-card-header green darken-3">
          <h2 class="card-header-title pt-3 pb-2">Información</h2>
        </div>
        <mdb-card-body>
          <!-- primer grupo -->
          <div class="input-group">
            <!--id -->
            <div class="input-group col-md-12">
              <div class="input-group-prepend mb-3">
                <span class="input-group-text">ID</span>
              </div>
              <input type="number" id="" mdbInput class="form-control mb-3" name="Exone.Id" [(ngModel)]="Exone.Id" readonly>
            </div>

          </div>
  
          <div class="input-group">
            <!-- Nombre -->
            <div class="input-group col-md-6">
                <div class="input-group-prepend mb-3">
                  <span class="input-group-text">Nombre</span>
                </div>
                <input type="text" id="" mdbInput class="form-control mb-3" placeholder="Excento" name="Exone.Nombre"
                [(ngModel)]="Exone.Nombre" readonly>
            </div>
            <!-- Valor -->
            <div class="input-group col-md-6">
                <div class="input-group-prepend mb-3">
                  <span class="input-group-text">Valor</span>
                </div>
                <input type="text" id="" mdbInput class="form-control mb-3" placeholder="Ejem: 10" name="Exone.Valor"
                [(ngModel)]="Exone.Valor" readonly>
            </div>
          </div>
          <div class="input-group">
            <!-- Descripcion -->
            <div class="input-group mb-3 col-md-12">
              <div class="input-group-prepend">
                <span class="input-group-text">Descripción</span>
              </div>
              <textarea class="form-control" name="Exone.Descripcion" [(ngModel)]="Exone.Descripcion" readonly></textarea>
            </div>
          </div>
      
          <button type="button" mdbBtn color="danger" size="lg" outline="true" mdbWavesEffect routerLink="/tipoExoneraciones">Cancelar</button>
        </mdb-card-body>
      </mdb-card>
    </form><!-- fin form-->
  </div>
