<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark mdb-color darken-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Facturador</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/factura">Facturas<span class="sr-only">(current)</span></a>
      </li>
      <!-- lista de opciones para clientes -->
      <!-- Dropdown -->
      <li class="nav-item dropdown dropdown1" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Clientes<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdown-content" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['ListaClientes']">Lista Clientes</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['RegistroCliente']">Registro Clientes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/Indexabono">Abonos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/Indexproveedor">Proveedor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/Productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/empresa">Empresas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/impuestos">Impuestos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/cajas">cajas</a>
        </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/Indexcategoriaproduct">Categoria Producto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/IndexTipoMedida">Tipo Medida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/validaHacienda">Hacienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/tipoExoneraciones">Exoneraciones</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
