
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c2a48;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}
.navbar .dropdown-menu{
    background-color: #1c2a48;
}

.dropdown-item:hover{
     background-color: rgba(0,0,0,0.4);
}    
.dropdown-content a:hover {background-color: rgba(0,0,0,0.4);}

.dropdown1:hover .dropdown-content {display: block;}