
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pt-3 pb-3 fondo-color">
          <h3 class="text-center text-white">Categoria Productos</h3>
        </div>
      </div>
</div>
<div class="container-fluid">

<button  class="btn btn-outline-success" routerLink="/createcateproduct" >Nueva Categoria</button>

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="table-responsive">
<table  class="table table-hover" mdbTable>
    <thead class="titulo-tabla" class="unique-color-dark white-text">
  <tr class="text-center" mdbTableCol>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Descripcion</th>    
    <th scope="col">Fecha Creacion</th>
    <th scope="col"> Fecha Ultima Modificacion</th>   
    <th></th>
    <th>Opciones</th>
    <th></th>
  </tr>

</thead>
<tbody  class="text-center" >
    <tr *ngFor="let CategoriaProducto of listaCatProduct" mdbTableCol>
      <td>{{CategoriaProducto.Id}}</td>
      <td>{{CategoriaProducto.Nombre}}</td> 
      <td>{{CategoriaProducto.Descripcion}}</td> 
      <td>{{CategoriaProducto.FechaCrea| date:'medium'}}</td>
      <td>{{CategoriaProducto.FechaUltMod| date:'medium'}}</td>
      <td><button class="btn btn-outline-primary" (click)="consultarDetalles(CategoriaProducto)"  >Detalle</button></td>
      <td><button class="btn btn-outline-warning text-white" (click)="Modificar(CategoriaProducto)" [routerLink]="['/createcateproduct']">Modificar</button></td>
      <td><button class="btn btn-outline-danger text-white" (click)="Eliminar(CategoriaProducto)" >Eliminar</button></td>         
    </tr>
    </tbody>
    </table> 
  </div>  
   
   
