<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pt-3 pb-3 fondo-color">
      <h3 class="text-center" *ngIf="TextoPrincipal==true">Crear Proveedor</h3>
      <h3 class="text-center" *ngIf="TextoPrincipal==false"> Modificar Proveedor</h3>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card">
    <div class="card-heading bg-success text-white text-center pt-3 pb-2">
      <h4>Datos de Proveedor</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Identificacion:</span>
          </div>

          <input type="text" class="form-control" name="TbPersona.Identificacion"
            [(ngModel)]="Proveedor.TbPersona.Identificacion"  [readonly]="readonly">
        </div>
        <div class="input-group mb-3 col-md-4 ">
          <div class="input-group-prepend">
            <span class="input-group-text">TipoId:</span>
          </div>
          <select class="form-control" name="TbPersona.TipoId" [(ngModel)]="Proveedor.TbPersona.TipoId">
            <option *ngFor="let TipoId of listaTipoId" value="{{TipoId.Id}}">
              {{TipoId.Nombre}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">CorreoElectronico:</span>
          </div>

          <input type="text" class="form-control" name="TbPersona.CorreoElectronico"
            [(ngModel)]="Proveedor.TbPersona.CorreoElectronico">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre Completo:</span>
          </div>
          <input type="text" class="form-control" placeholder="Nombre" name="TbPersona.Nombre"
            [(ngModel)]="Proveedor.TbPersona.Nombre">
          <input type="text" class="form-control" placeholder="Primer Apellido" name="TbPersona.Apellido1"
            [(ngModel)]="Proveedor.TbPersona.Apellido1">
          <input type="text" class="form-control" placeholder="Segundo Apellido" name="TbPersona.Apellido2"
            [(ngModel)]="Proveedor.TbPersona.Apellido2">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Fecha Nacimiento:</span>
          </div>
          <input type="date" class="form-control" name="TbPersona.FechaNac" [(ngModel)]="Proveedor.TbPersona.FechaNac">
        </div>
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Telefono:</span>
          </div>

          <input type="number" class="form-control" name="TbPersona.Telefono" [(ngModel)]="Proveedor.TbPersona.Telefono" required>
        </div>
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">CodigoPaisTel:</span>
          </div>
          <input type="number" class="form-control" name="TbPersona.CodigoPaisTel"
            [(ngModel)]="Proveedor.TbPersona.CodigoPaisTel">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Sexo:</span>
          </div>
          <select class="form-control" name="TbPersona.Sexo" [(ngModel)]="Proveedor.TbPersona.Sexo">
            <option value="1">
              Masculino
            </option>
            <option value="2">
              Femenino
            </option>
          </select>
        </div>
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">CodigoPaisFax:</span>
          </div>
          <input type="number" class="form-control" name="TbPersona.CodigoPaisFax"
            [(ngModel)]="Proveedor.TbPersona.CodigoPaisFax">
        </div>
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Fax:</span>
          </div>
          <input type="number" class="form-control" name="TbPersona.Fax" [(ngModel)]="Proveedor.TbPersona.Fax">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Provincia:</span>
          </div>

          <select class="form-control" name="TbPersona.Provincia" [(ngModel)]="Proveedor.TbPersona.Provincia"
            (change)="onChangeProv($event.target.value)">
            <option *ngFor="let Provincia of listaProvincia" value="{{Provincia.Cod}}">
              {{Provincia.Nombre}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3 col-md-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Canton:</span>
          </div>
          <select class="form-control" name="Proveedor.TbPersona.Canton" [(ngModel)]="Proveedor.TbPersona.Canton"
            (change)="onChangeCanton($event.target.value)">
            <option *ngFor="let Canton of listaCantonCombo" value="{{Canton.Canton}}">
              {{Canton.Nombre}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3 col-md-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Distrito:</span>
          </div>
          <select class="form-control" name="Proveedor.TbPersona.Distrito" [(ngModel)]="Proveedor.TbPersona.Distrito"
            (change)="onChangeDistrito($event.target.value)">
            <option *ngFor="let Distrito of listaDistritoCombo" value="{{Distrito.Distrito}}">
              {{Distrito.Nombre}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3 col-md-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Barrio:</span>
          </div>
          <select class="form-control" [(ngModel)]="Proveedor.TbPersona.Barrio" name="TbPersona.Barrio">
            <option *ngFor="let Barrio of listaBarrioCombo" value="{{Barrio.Barrio}}">
              {{Barrio.Nombre}}
            </option>
          </select>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-heading bg-info text-white text-center pt-3 pb-2">
      <h4>Detalles de Proveedor</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">ContactoProveedor:</span>
          </div>
          <input type="text" class="form-control" name="ContactoProveedor" [(ngModel)]="Proveedor.ContactoProveedor">
        </div>
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Descripcion:</span>
          </div>
          <input type="text" class="form-control" name="Descripcion" [(ngModel)]="Proveedor.Descripcion">
        </div>
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Fax:</span>
          </div>

          <input type="number" class="form-control" name="Fax" [(ngModel)]="Proveedor.Fax">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text">EncargadoContabilidad:</span>
          </div>
          <input type="text" class="form-control" name="EncargadoConta" [(ngModel)]="Proveedor.EncargadoConta">
        </div>

        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text">NombreTributario:</span>
          </div>
          <input type="text" class="form-control" name="NombreTributario" [(ngModel)]="Proveedor.NombreTributario">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text">CorreoElectContabilidad:</span>
          </div>

          <input type="text" class="form-control" name="CorreoElectConta" [(ngModel)]="Proveedor.CorreoElectConta">
        </div>
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text">CuentaBancaria:</span>
          </div>
          <input type="number" class="form-control" name="CuentaBancaria" [(ngModel)]="Proveedor.CuentaBancaria">
        </div>
      </div>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-outline-success" (click)="CrearProveedor(Proveedor)" *ngIf="BotonCrear">Crear</button>
  <button class="btn btn-outline-success" (click)="ModificarProveedor(Proveedor)" *ngIf="BotonModificar"
    [routerLink]="['/Indexproveedor']">Modificar</button>
  <button class="btn btn-outline-danger" (click)="Cancelar()" [routerLink]="['/Indexproveedor']">Cancelar</button>
</div>