<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pt-3 pb-3 fondo-color">
      <h3 class="text-center text-white">Abonos</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <br>
  <form class="form-inline">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Abono General:</span>
      </div>
      <input type="number" placeholder="Digite el monto" class="form-control" name="Monto_Abono"
        [(ngModel)]="Monto_Abono">
    </div>
  </form>
  <button class="btn btn-outline-success" (click)="AbonoGeneral(Monto_Abono)">Abonar</button>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="table-responsive">
        <table class="table table-hover" mdbTable>
          <thead class="titulo-tabla" class="blue-grey darken-2 white-text">
            <tr class="text-center" mdbTableCol>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">ID cliente</th>
              <th scope="col">Nombre</th>
              <th scope="col"> Plazo</th>
              <th scope="col">Estado Factura</th>
              <th></th>
              <th>Opciones</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let Documento of listaDoc" mdbTableCol>
              <td>{{Documento.Id}}</td>
              <td>{{Documento.Fecha| date:'medium'}}</td>
              <td>{{Documento.IdCliente}}</td>
              <td>{{Documento.TbClientes.TbPersona.Nombre}}{{Documento.TbClientes.TbPersona.Apellido1}}{{Documento.TbClientes.TbPersona.Apellido2}}</td>
              <td>{{Documento.Plazo}}</td>
              <!--IMPORTANTE, NO MODIFICAR-->
              <td>
                  <font *ngIf="Documento.mensaje=='Vencida'" font-weight="bold" size="4px" color="red" > {{Documento.mensaje}} </font>
                  <font *ngIf="Documento.mensaje=='Al Día'" size="4px" color="green"> {{Documento.mensaje}} </font>
              </td>
              <!--IMPORTANTE, NO MODIFICAR-->              
              <td><button class="btn btn-outline-primary" (click)="consultarDetalles(Documento)"
                  [routerLink]="['/detalle']">Detalle</button></td>
              <td><button class="btn btn-outline-warning text-white" (click)="abono(Documento)"
                  [routerLink]="['/abo']">Abonar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>