<br>
 <form class="form-inline">
  <div class="form-group">
      <label >Abono General:</label>
      <input style="margin-left:0.3cm"  type="number" placeholder="Digite el monto" class="form-control" name="MontoAbono" [(ngModel)]="MontoAbono">
      <button style="margin-left:0.5cm"  class="btn btn-success" (click)="AbonoGeneral(MontoAbono)" >Abonar</button>
  </div>
</form>

<table class="table table-dark table-striped table-responsive">
  <tr>
    <th>ID</th>
    <th>Fecha</th>
    <th>ID cliente</th>    
    <th>IdEmpresa</th>
    <th> Plazo</th>
    <th>Tipo Pago</th>
   
  </tr>
    <tr *ngFor="let Documento of listaDoc">
      <td>{{Documento.Id}}</td>
      <td>{{Documento.Fecha| date:'medium'}}</td>
      <td>{{Documento.IdCliente}}</td>     
      <td>{{Documento.IdEmpresa}}</td>
      <td>{{Documento.Plazo}}</td>
      <td>{{Documento.TipoPagoNavigation.Nombre}}</td>
      <td><button class="btn btn-primary" (click)="consultarDetalles(Documento)" [routerLink]="['/detalle']" >Detalle</button></td>
      <td><button class="btn btn-warning text-white" (click)="abono(Documento)" [routerLink]="['/abo']"  >Abonar</button></td>   
         
    </tr>
    </table> 
    
   
   