<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 pt-4 pb-4 fondo-color">
          <h2 class="text-center">Clientes</h2>
      </div>
  </div>
</div>
<div class="contenidoPrin mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
          <label for="search">Buscar</label>
        </div>
      </div>
    </div>
    <table mdbTable class="z-depth-1 ">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let per of listaClientes">
          <th scope="row">{{per.Id}}</th>
          <td>{{per.TbPersona.Nombre}}</td>
          <td>{{per.TipoCliente}}</td>

          <td>
            <button type="button" mdbBtn color="info" size="sm" (click)="CliActual(per)"
              [routerLink]="['/DetallesCliente',per.Id]">
              Detalles
            </button>
          </td>
          <td><button type="button" mdbBtn color="success" size="sm">Modificar</button></td>
          <td><button type="button" mdbBtn color="warning" size="sm" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
            (click)="CliActual(per)"
            mdbWavesEffect>Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>



<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Eliminar Cliente</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <p>Desea eliminar el cliente?</p>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a (click)="EliminarCli()" (click)="frame.hide()"  mdbBtn color="primary" class="waves-light" mdbWavesEffect>Si</a>
        <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
