<body>
  <!-- titulo -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pt-4 pb-4 fondo-color text-center">
        <h2 class="text-center">Detalle de Compra</h2>
      </div>
    </div>
  </div>

  <!-- inicio del contenido -->
  <div class="container mt-5">

    <!-- primera fila  -->
    <div class="row">
      <div class="col-md-12 mx-auto">
        <!-- mdb card -->
        <mdb-card cascade="true" narrower="true" class="mb-5">

          <!-- titulo -->
          <div class="view view-cascade titulo gradient-card-header darken-3">
            <h2 class="card-header-title pt-3 pb-2 text-center">Datos de la Compra</h2>
          </div>
          <mdb-card-body>

            <!-- formaulario de factura-->
            <form>
              <!-- Grid row -->
              <div class="form-row">
                <!--#factura-->
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Nº Factura</label>
                  <div class="input-group">
                    <input #myInvoice mdbInput type="text" class="form-control" id="DocActual.Id" name="DocActual.ID"
                      [(ngModel)]="DocActual.Id" readonly>
                  </div>
                </div>
                <!--Fecha de Compra-->
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Fecha de Compra</label>
                  <input mdbInput type="text" class="form-control" id="" name="DocActual.Fecha"
                    [(ngModel)]="DocActual.Fecha" readonly>
                </div>
                <!--Fecha de reporte-->
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Fecha de reporte</label>
                  <input mdbInput type="text" class="form-control" id="" name="DocActual.FechaRef"
                    [(ngModel)]="DocActual.FechaRef" readonly>
                </div>
              </div>
              <!-- Grid row -->

              <!-- ID Proveedor-->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">ID Proveedor</label>
                  <div class="input-group">
                    <input #myProvider mdbInput type="text" class="form-control" id="IdProveedor" name="IdProveedor"
                      [(ngModel)]="idProveedor" placeholder="ID">
                  </div>
                </div>
                <!-- Provedor nombre registrado -->
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Provedor</label>
                  <input mdbInput type="text" class="form-control" name="ProveedorActual.NombreTributario"
                    [(ngModel)]="ProveedorActual.NombreTributario" readonly>
                </div>
              </div>

              <!-- Grid row -->

              <!--Carta con tabla de productos de compras registradas -->
              <div class="form-row">
                <div class="col-md-12">
                  <mdb-card class="mx-0" style="box-shadow: none">
                    <mdb-card-header class="text-center titulo2">COMPRAS FACTURADAS</mdb-card-header>
                    <mdb-card-body>

                      <table mdbTable hover="true">
                        <thead>
                          <tr>
                            <th *ngFor="let head of headElements" scope="col">{{head}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr mdbTableCol *ngFor="let detailt of detallesCompras">
                            <th scope="row">{{detailt.Cantidad}}</th>
                            <td>{{detailt.IdProductoNavigation.Nombre}}</td>
                            <td>{{detailt.MontoTotal}}</td>
                          </tr>
                        </tbody>
                      </table>

                    </mdb-card-body>

                    <mdb-card-footer class="text-center">

                      <!-- Grid row -->
                      <div class="form-row">
                        <!-- Default input -->
                        <div class="form-group col-md-4">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Total Grabado</span>
                            </div>
                            <input type="text" class="form-control" placeholder="¢0.00" name="ComprasTotalGrabado"
                              [(ngModel)]="ComprasTotalGrabado" aria-label="Username" aria-describedby="basic-addon1"
                              readonly>
                          </div>
                        </div>
                        <!-- Default input -->
                        <div class="form-group col-md-4">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Total Exonerado</span>
                            </div>
                            <input type="text" class="form-control" placeholder="¢0.00" name="ComprasTotalExonerado"
                              [(ngModel)]="ComprasTotalExonerado" aria-label="Username" aria-describedby="basic-addon1"
                              readonly>
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Total facturado</span>
                            </div>
                            <input type="text" class="form-control" placeholder="¢0.00" name="TotalComprasFacturadas"
                              [(ngModel)]="TotalComprasFacturadas" aria-label="Username" aria-describedby="basic-addon1"
                              readonly>
                          </div>
                        </div>
                      </div>
                      <!-- Grid row -->

                    </mdb-card-footer>

                  </mdb-card>
                </div>
              </div>

            </form>
            <!-- fin del formulario factura-->

          </mdb-card-body>
        </mdb-card>
        <!--fin mdb card -->

      </div>

    </div>

  </div>

  <!-- fin del cuerpo -->
</body>
