
<div class="container">

  <div class="col-md-12">

    

    <form  autocomplete="off" >
      
      <div class="form-group">
      <label >ID: {{_pro.IdProducto}} </label>
      </div>

      <div class="form-group">
      <label>Nombre: {{_pro.Nombre}}</label>
      </div> 

      <div class="form-group">
      <label> Categoría: {{_categoria.Nombre}}</label>
      </div> 
      

      <div class="form-group">
      <label>Proveedor ID: {{_pro.IdProveedor}}</label>
      
      </div>

      <div class="form-group">
        <label>Proveedor Tipo ID : {{_pro.IdTipoIdProveedor}}</label>
        
        </div>

      <div class="form-group">
      <label>Tipo Medida: {{_medida.Nombre}}</label>
     
      </div>

      <div class="form-group">
        <label>Precio Real: {{_pro.PrecioReal}}</label>
        
        </div>

      <div class="form-group"> 
          <label >Precio Variable : {{_pro.PrecioVariable}} </label>     
      </div>

      <div class="form-group">
      <label>Precio Utilidad 1: {{_pro.Utilidad1Porc}} % | {{_pro.PrecioUtilidad1}}</label> 
      </div>

      <div class="form-group">
      <label>Precio Utilidad 2: {{_pro.Utilidad2Porc}} % | {{_pro.PrecioUtilidad2}}</label>
      </div>

      <div class="form-group">
      <label> Precio Utilidad 3: {{_pro.Utilidad3Porc}} % | {{_pro.PrecioUtilidad3}}</label>
      </div>

      <div class="form-group">  
         <label> Exento : {{_pro.EsExento}}</label>
      </div>

      
      <div class="form-group">
        <label>Impuesto: {{_impuesto.Valor}}%</label>
      </div>

      <div class="form-group">
      <label>Precio Venta 1: {{_pro.PrecioVenta1}}</label>
      </div>

      <div class="form-group">
      <label> Precio Venta 2: {{_pro.PrecioVenta2}}</label>
     
      </div>

      <div class="form-group">
      <label>Precio Venta 3: {{_pro.PrecioVenta3}}</label>
     
      </div>

    
      <div class="form-group">
          <label>Aplica Descuento : {{_pro.AplicaDescuento}}</label>
      </div>


      <div class="form-group">
        <label>Descuento Máximo : {{_pro.DescuentoMax}}</label>
       
      </div>

      <h5>Inventario</h5>

      <div class="form-group">
        <label>Cantidad: {{_inventario.Cantidad}}</label>
      </div>

      <div class="form-group">
        <label>Cantida Mínima: {{_inventario.CantMin}}</label>
       
      </div>

      <div class="form-group">
        <label>Cantida Máxima: {{_inventario.CantMax}}</label>
      </div>

    </form>
  </div>
</div>
